<div class="title">
  <h1>New Question</h1>
</div>
<h2>What's on your mind?</h2>
<%= form_for(@question) do |f| %>
  <!-- if there are any questions, it will do this -->
  <!-- pluralize will change the word "error" if there are more than 1 error -->
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %>prohibited this question from being saved</h2>
      <ul>
        <% @question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <br />
    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
    <br>
    <br>
    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>
